@model MovieNight.PictureTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Filuppladdning", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p>title</p>
            @Html.EditorFor(m => Model.MovieTable.Title) <br />
            <p>title</p>
            @Html.EditorFor(m => Model.MovieTable.Year) <br />
            <p>title</p>
            @Html.EditorFor(m => Model.MovieTable.Genre) <br />
            <p>title</p>
            @Html.EditorFor(m => Model.MovieTable.Sound) <br />
            <p>title</p>
            @Html.EditorFor(m => Model.MovieTable.Quality) <br />
            <p>title</p>
            @Html.EditorFor(m => Model.MovieTable.Description) <br />
            <p>title</p>
            @Html.EditorFor(m => Model.MovieTable.Length) <br />
            <p>title</p>
            @Html.EditorFor(m => Model.MovieTable.Director) <br />
            <p>title</p>
            @Html.EditorFor(m => Model.MovieTable.Cast) <br />
            <p>title</p>

            <input type="file" name="imageFile" value="Välj Fil" required /><br />
            
            <input type="file" name="imageFile" value="Välj Fil" required /><br />
            <p>title</p>

            @Html.EditorFor(m => Model.MovieTable.Raiting) <br />



            <input type="submit" value="Create" class="btn btn-default" />

        }
    </div>
</body>
</html>
