@model List<MovieNight.PictureTable>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/DeleteView1.css" rel="stylesheet" />  
    <script src="~/JavaScript/searchbarJS.js"></script>
    <title>Index</title>
</head>

<body>
    <div id="blueBar">
        <p id="pDeleteText">Which movie do you want to DELETE?</p>
    </div>

    <div id="divBild1">
        <ul>
            @for (int i = 0; i < Model.Count; i++)    //loopar igenom tabellen fylld med information om filer och visar upp dem beroende på Model.Count.
            {
                <li>

                    <a class="tooltip" href="@Url.Action("Delete","Home", new {id=Model[i].Id })">
                        <img id="BildMindre" src="@Url.Content(Model[i].Background_Big)" />
                        <p class="tooltiptext">
                            @Html.DisplayFor(x => Model[i].MovieTable.Description)
                        </p>
                    </a>
                    <p id="pRaiting">@Html.DisplayFor(x => Model[i].MovieTable.Raiting)</p>
                    <p id="pTitle">@Html.DisplayFor(x => Model[i].MovieTable.Title)</p>

                    <ol>

                        <li><p>@Html.DisplayFor(x => Model[i].MovieTable.Year)</p></li>
                        <li><p>@Html.DisplayFor(x => Model[i].MovieTable.Quality)</p></li>
                        <li><p>@Html.DisplayFor(x => Model[i].MovieTable.Genre)</p>
                    </ol>
                </li>
            }
        </ul>
    </div>
    <div class="navBar">
        <div class="DisplayUser">
            <img src="~/Image/UserPic.png" alt="Alternate Text" />
            <p id="demo">Admin</p>
            <hr id="hrLine2" />
        </div>
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "myClass" })
        @Html.ActionLink("New releases", "Index", "Home", null, new { @class = "myClass" })
        @Html.ActionLink("Trending", "Index", "Home", null, new { @class = "myClass" })
        @Html.ActionLink("Coming soon", "Index", "Home", null, new { @class = "myClass" })
        @Html.ActionLink("Series", "Index", "Home", null, new { @class = "myClass" })
        @Html.ActionLink("Movies", "Index", "Home", null, new { @class = "myClass" })
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "myClass" })
        <br />
        @Html.ActionLink("Create", "create", "Filuppladdning", null, new { @class = "myClass" })
        @Html.ActionLink("Update", "movieIDupdate", "Home", null, new { @class = "myClass" })
        @Html.ActionLink("Delete", "movieIDdelete", "Home", null, new { @class = "myClass" })
    </div>
</body>
</html>
